
body{
    margin: 0;
}

@media (max-width: 768px) {
    body {
      background-color: #333;
      color: white;
    }
  }
  
footer{
    position: absolute;
    bottom:40px;
    left:0;
    width:100%;
}

#menuVoices{
    text-decoration: none;
    margin-right: 10px;
}

#menuVoices:hover{
    text-decoration: underline;
}


